extends layout

block content
  table.table.table-striped.table-hover.table-bordered
    thread
      tr
        th #
        th Mobile number
        th.message-col Message
        th Date
    tbody
      each feed, i in feedback
        tr
          td #{i + 1}
          td #{feed.mobileNo}
          td.message-col #{feed.message}
          td 8292828