extends layout

block content
    div.form-group
        label(for='messageInput') Enter promotional message
        textarea.form-control(rows='3', id='messageInput')
        button(type='submit').btn.btn-primary.send-button Send
