extends layout

block content
    div.form-group
        form(action='/promotions/send',method='post')
            label(for='messageInput') Enter promotional message
            textarea.form-control(rows='3', id='messageInput', type ='text', name ='messageInput')
            button(type='submit').btn.btn-primary.send-button   Send